<h5>Editing Video</h5>

<!-- %= render 'form' %>-->
<!-- %= link_to 'Show', @video %> |-->
<!-- %= link_to 'Back', videos_path %>-->

<div class="card">
  <div class="card-content">
    <%= render 'form' %>  
  </div>
</div>