<h4>About Me</h4>
<div class="card z-depth-3">
    <div class="card content white-text">
        <div class="col m6">
            <a class="twitter-timeline"  href="https://twitter.com/search?q=ruby%20on%20rails" data-widget-id="836212127530541056">Tweets about ruby on rails</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="col m6">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col m3">
                    <%= image_tag "timchen.jpg", class:"circle responsive-img" %>
                </div>
                <div class="col m9">
                    <span class="black-text">
                        Tim Chen following Ruby on Rails
                    </span>
                </div>
            </div>      
          </div>        
        </div>
    </div>
</div>
