<h4>Contact</h4>
<head>
    <meta charset="UTF-8">
    <!--<title>GeoLocation</title>-->
<script>
//http://http://localhost:8080/indexGeo1.html  if has KEY
// just put in local, not server, and double click indexGeo1.html file if do not have KEY     
//window.onload=function() {  
//===== STEP2: init() called after google map loaded successfully ============    
function init() {    
  window.navigator.geolocation.getCurrentPosition(function(response) { //get user's geo location
      var map=new google.maps.Map(document.getElementById("map"),{
          zoom:8,
          center:{
              lat:response.coords.latitude, 
              lng:response.coords.longitude}
      });
//      console.log(response);
  //add marker
  new google.maps.Marker ({
      map:map,
      position: {
          lat:response.coords.latitude, 
          lng:response.coords.longitude
      }
  })
  }, function(response){
      console.log(response);
  });
};
</script>  
<script 
       src="https://maps.googleapis.com/maps/api/js?callback=init" async defer >
// google "google map javascript api"   
//著手採用使用者喜歡的地圖    
//https://developers.google.com/maps/documentation/javascript/?hl=zh-tw    
//simple map: https://developers.google.com/maps/documentation/javascript/examples/map-simple?hl=zh-tw //   <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
//        async defer>
//=============== STEP1: load googlemap ===================    
</script> 
</head>
<body>
  <div class="card z-depth-3">
    <class="card-content">
        <p>where are we ?</p>
    </class>
  </div>
  <div id="map" style="width:600px; height:400px;"></div>
</body>